<!doctype html>

<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

        <title>
            Deleted
        </title>
    </head>
    <body style="text-align: center;">
        <header>
            <h1>Your account has been successfully deleted</h1>
        </header>
        <div>
            You are welcome to register again!
            <br>
            <a class="btn btn-primary"href="https://friendly-telegram-wrr49v5r5wgvcjqw-5000.app.github.dev/register">Register</a>
        </div>
        </body>
</html>
