{% extends "layout.html" %}

{% block title %}
    Wallet
{% endblock %}

{% block main %}
<form action="/sell" method="post">
    <select class="form-select mx-auto w-auto" name="symbol">
        <option disabled="" selected="">Symbol</option>
        {% for symbol in stock %}
            <option value="{{symbol.symbol}}">{{symbol.symbol | upper}}</option>
        {% endfor %}
    </select>
    <br>
    <p> <input name="shares" type="number" min="1" max="99" autocomplete="off" placeholder="Shares" oninput="validity.valid||(value='');"></input> </p>
    <p> <button type="submit" btn="primary-btn">Sell</button> </p>
</form>
{% endblock %}
